openapi: 3.0.0
info:
  title: Sentinel Incident Actions
  version: 1.0.0
  description: Allows closing and commenting on Microsoft Sentinel incidents

servers:
  - url: https://management.azure.com

paths:
  /subscriptions/b8199c15-6464-4601-a378-7ed6d4942624/resourceGroups/rg-infra-oms-prod/providers/Microsoft.OperationalInsights/workspaces/planetsentinel/providers/Microsoft.SecurityInsights/incidents/{incidentId}:
    patch:
      operationId: CloseIncident
      summary: Close a Sentinel incident with verdict and comment
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
        - name: resourceGroupName
          in: path
          required: true
          schema:
            type: string
        - name: workspaceName
          in: path
          required: true
          schema:
            type: string
        - name: incidentId
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            default: "2023-02-01"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  properties:
                    status:
                      type: string
                      enum: [Closed]
                    classification:
                      type: string
                      enum: [FalsePositive, BenignPositive, TruePositive, Undetermined]
                    classificationComment:
                      type: string
                    classificationReason:
                      type: string
      responses:
        "200":
          description: Incident updated successfully